name: CI Build

on:
  # Dry run for main pushes:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths-ignore: ["**/*.md"]
    # Publish to GitHub release:
    tags:
      - "v*.*.*"
  # Dry run for PRs:
  pull_request:
    branches: ["main"]
    paths-ignore: ["**/*.md"]

env:
  NODE_VERSION: "24.11.0"

permissions:
  contents: write

jobs:
  build:
    name: Build
    runs-on: "ubuntu-24.04"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Cache node modules
        id: cache
        uses: actions/cache@v4
        with:
          path: node_modules # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package.json', '**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Build
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  release:
    name: Create release
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
    runs-on: "ubuntu-24.04"
    needs: build

    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Package dist folder into tarball (.tar.gz)
        run: tar -czf dist-${{ github.ref_name }}.tar.gz dist

      - name: Package dist folder into ZIP (.zip)
        run: zip -r dist-${{ github.ref_name }}.zip dist

      - name: Publish GitHub Release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: |
            dist-${{ github.ref_name }}.tar.gz
            dist-${{ github.ref_name }}.zip
